@import "../../variables.modules";

h1 {
  font-size: 2rem;
  text-align: center;
  @media only screen and (min-width: 940px) {
    font-size: 3rem;
    text-align: left;
  }
}

h2 {
  font-size: 1.25rem;
  text-align: center;
  @media only screen and (min-width: 940px) {
    font-size: 2rem;
    text-align: left;
  }
}

.hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

a {
  color: $dark;
  transition: color 200ms ease;
}

a:hover {
  color: $lightgray;
  transition: color 200ms ease;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.icon {
  transition: all 1s ease;
}

.icon:hover {
  background: -webkit-linear-gradient(rgb(20, 133, 186), rgb(31, 195, 78));
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}
.name {
  position: relative;
  z-index: 3;
  cursor: default;
}

.name::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0%;
  z-index: -1;
  left: 0%;
  width: 0%;
  background: linear-gradient(rgb(46, 183, 108), rgb(42, 134, 137));
  transition: all 1s;
}
.name:hover::before {
  width: 100%;
}
